VITE_SUPABASE_URL=https://qbkjttqqbiqtmtqbfncp.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFia2p0dHFxYmlxdG10cWJmbmNwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzNjM2MDQsImV4cCI6MjA5MzkzOTYwNH0.Hc4_MBdqVyQYcgUS5QDJnwL8XNy222KnKztpE3WWsKI
