SUPABASE_URL=https://qbkjttqqbiqtmtqbfncp.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFia2p0dHFxYmlxdG10cWJmbmNwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODM2MzYwNCwiZXhwIjoyMDkzOTM5NjA0fQ.Gp-bpo-zAK7GyQnBNsPwYKEwHow5LHl7BGEKImRdLig
SUPABASE_JWT_SECRET=sb_secret_U2_I8jpWUpCT97qKow4Cfw_o5ixrnA3
VAPID_PUBLIC_KEY=your-vapid-public-key
VAPID_PRIVATE_KEY=your-vapid-private-key
VAPID_CLAIM_EMAIL=mailto:you@example.com
